.tile{
    // min-height: 30vh;
    // aspect-ratio: 2 / 1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 40vh;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.692);
}
.grey_color{
    color:rgb(179, 179, 179);
}
.button{
    border-radius: 5em;
}