.modal_sizing{
    width:90vw !important;
    height:90vh !important;
    min-height: 90vh !important;
    max-width: none;
    max-height: none;
    & > div{
        // background-color: red;
        height:100% !important;
    }
}
