.membertile{
    text-align:center;
    font-family:Audiowide;
    color:white;
    z-index:0;
    position:relative;
}

.membertile a{
    color:white;
}


.memberimage{
    height:200px;
    width:200px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    border-color:white;
    border-style:solid;
    border-width:3px;
}

.detailsSeparator{
    width:40%;
    margin:10px auto;
    opacity:0.5;
}

.instagram:hover{
    transition: all 0.1s ease-in;
    transform: scale(1.4);
    color:#CE2F85;
}

.linkedin:hover{
    transition: all 0.1s ease-in;
    transform: scale(1.4);
    color:#0072b1;
}

.phone:hover{
    transition: all 0.1s ease-in;
    transform: scale(1.4);
    color:red;
}

.tooltipdesign{
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-radius: 10%;
    padding: 1px;
    font-size: 14px;
    font-family: Audiowide;
}