.landing {
  /* background: black; */
  width: 100%;
  overflow-x: hidden;
  min-height: 500px;
}

.landing video {
  position: relative;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(80%);
}

.fa-solid {
  padding-top: 8px;
}

.landing div h3 {
  display: inline-block;
  /* position: relative; */
  text-align: center;
  margin: auto;
  z-index: 600;
  color: rgba(255, 255, 255, 1);
  /* top:40%;
    left:20%; */
  /* font-size: 2.5vw; */
  font-family: "Russo One", sans-serif;
  padding: 15px 5px;
  font-size: 35px;
  letter-spacing: 3px;
  text-shadow: 5px 5px 5px #000;

  /* border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 10%; */
}
/* 
.landing div h3:hover{
    font-size: 3vw;
    background: rgba(0,0,0,0.5);
    border-radius: 10%;
} */
.img1 {
  background: url("../../Images/Untitled2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 0vh;
  /* filter: brightness(80%); */
  transition: all 0.8s ease-in-out;
  height: 100%;
}

.img2 {
  background: url("../../Images/Untitled.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -40vh;
  /* filter: brightness(80%); */
  z-index: 200;
  transition: top 0.8s ease-in-out;
  height: 100%;
}

.img3 {
  background: url("../../Images/Untitled3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* position: absolute; */
  margin-top: 15vh;
  /* filter: brightness(80%); */

  transition: top 0.8s ease-in-out;
  height: 100%;
}

.img4 {
  background: url("../../Images/Untitled5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* position: absolute; */
  margin-top: -25vh;
  /* filter: brightness(80%); */
  transition: top 0.8s ease-in-out;
  height: 100%;
}

.img5 {
  background: url("../../Images/Untitled4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 20vh;
  /* filter: brightness(80%); */
  transition: top 0.8s ease-in-out;
  height: 100%;
}

/* .cursor{
    position: fixed;
    width: 60px !important;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    transition: 0.1s;
    transform: translate(-50%,-50%);
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 200;
} */

.rocket {
  position: fixed;
  z-index: 200;
  width: 80%;
  height: auto;
  margin: auto;
}

.otherMenu {
  position: absolute;
  top: 60%;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
}

.aboutusbg{
    background-image: linear-gradient(to bottom, #000, #222);
}

.header-subscript{
  margin-bottom: 30vh !important;
}
.header-large {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  margin-top: 25vh;
  /* font-family: 'Russo One', sans-serif; */
  font-family: "Audiowide", cursive;
  font-size: 13vw;
  z-index: 100;
  font-weight: 700;
  color: white;
  line-height: 1;
  /* background-color: white;
    background-image: linear-gradient(white, #f5d5e0);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent; */
  text-shadow: 2px 2px 2px black;
  /* letter-spacing: 5px; */
  /* text-shadow: 5px 5px 5px #000; */
  /* text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);  */
}
.header-small {
  font-size: 5em;
}

.explore {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 5px;
  color: white;
  height: 100px;
  width: 100px;
  text-align: center;
  /* border-radius: 100%;
    border-color: white;
    border-style: solid;
    border-width: 2px; */
  position: absolute;
  bottom: 8vh;
  /* animation: explorebubble 1.5s infinite; */
}

.next-page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 5px;
  color: white;
  height: 100px;
  width: 100px;
  text-align: center;
  /* border-radius: 100%;
    border-color: white;
    border-style: solid;
    border-width: 2px; */
  position: absolute;
  /* animation: explorebubble 1.5s infinite; */
}

.prev-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  position: absolute;
}

.explore .left-arrow {
  transform: rotate(180deg);
}

.nebulaimg {
  /* transform: scale(1.4); */
  transition: all 0.5s ease-in-out;
}
.rotatebg:before {
  animation: spin 0.5s ease-in-out;
  content: "";
  position: absolute;
  width: 100vw !important;
  height: 100vh !important;
  top: 0%;
  left: 0%;
  z-index: -1;
  -webkit-transform: rotate(30deg) scale(2.2);
  -moz-transform: rotate(30deg) scale(2.2);
  -ms-transform: rotate(30deg) scale(2.2);
  -o-transform: rotate(30deg) scale(2.2);
  transform: rotate(30deg) scale(2.2);
  background-image: url(../../Images/nebulabgextracted.png) !important;
  background-repeat: no-repeat;
  background-size: cover;
}
@keyframes spin {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(30deg) scale(2.2);
  }
}
.headerRemove {
  transform: scale(0.3) translateY(-200px);
}

.alignCenter {
  /* animation: alignPlanets 1s forwards; */
  text-align: center;
  display: flex;
}

/* @keyframes alignPlanets {
    100%{top:30%};
} */

@keyframes headerRev {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes explorebubble {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@media screen and (max-width: 800px) {
  .landing div h3 {
    left: 25%;
  }
}
.landing .planet-img {
  transition: transform 0.2s, margin-top 0.8s;

  /* transition-duration: 0.2s, 0.8s; */
}
.landing .planet-img.larger-planet {
  transform: scale(1.1) !important;
}
.landing .planet-img.zoomed-planet {
  transform: scale(10) !important;
}
.landing .planet-img.overExpanding {
  z-index: 1010 !important;
}

@media screen and (max-width: 1200px) {
  .header-large {
    font-size: 13vw;
  }
  .header-small {
    font-size: 5vw;
  }
  .headerRemove {
    transform: scale(0.5);
    letter-spacing: 5px;
  }

  .rotatebg {
    transform: rotate(0deg);
  }
  .img2,
  .img4 {
    transform: scale(1.2);
  }
  .img3 {
    top: 30%;
  }
  .fa-4x {
    font-size: 40px;
  }
  .landing div h3 {
    font-size: 22px;
    letter-spacing: 3px;
    text-shadow: 5px 5px 5px #000;
  }
}
