.header_small {
  font-size: 5em;
  /* font-family: 'Russo One', sans-serif; */
  font-family: "Audiowide", cursive;
  font-weight: 700;
  color: white;
  line-height: 1;
}

.divider {
  border-top-width: 2px;
  border-top-color: white;
  border-top-style: solid;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
}
.pageTitle {
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 5vw;
  font-family: "Russo One", sans-serif;
}
@media screen and (max-width: 700px) {
  .pageTitle {
    margin-top: 2.5em;
  }
}
.header_large {
  font-size: 8em;
  /* font-family: 'Russo One', sans-serif; */
  font-family: "Audiowide", cursive;
  font-weight: 700;
  color: white;

  line-height: 1;
}

@media screen and (max-width: 1600px) {
  .header_large {
    font-size: 5em;
  }
}
@media screen and (max-width: 1200px) {
  .header_large {
    font-size: 3em;
  }
}
