.heading{
  text-shadow: 3px 3px 3px black;
  letter-spacing: 5px;
}

.card{
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sponsor_name{
  font-family: "cursive";
  font-size: 1.1em;
  font-weight: 600;
}

.sponsor_desc{
  font-size: 0.9em;
}