.spacecraft {
  transform: translateX(-50%);
  width: 20%;
}

.bars-container {
  padding-right: 0.52%;
}

.content-container {
  padding-top: 8em; 
  padding-bottom: 6%;
}

.text-container {
  width: 75%;
  font-family: "audiowide";
  font-style: normal;
  font-size: 14px;
  text-align: center;
}

.img-container {
  height: 90%;
  z-index: 0;
}

.odometer{
  font-size: 30px;
  font-family: "audiowide";
  width:15%;
  text-align: center;
}

@media screen and (min-width:1200px) {
  .text-container{
    font-size: 18px;
  }
}
@media screen and (max-width:870px) {
  .text-container{
    font-size: 12px;
  }
  .img-container{
    height: 80%;
  }
}


@media screen and (max-width:600px) {
  .text-container{
    font-size: 10px;
  }
}