.vrVideo{
    height:100vh;
    width: 160%;
    position: relative;
    z-index: 10;
    object-fit: cover;
}

.button-left{
    background-color: grey;
    width: 20%;
    position: absolute;
    left: 20%;
    top:50%;
    z-index: 30;
    transform: perspective(400px) rotateY(-45deg);
    opacity: 80%;
}

.button-center{
    background-color: grey;
    width: 20%;
    position: absolute;
    left: 40%;
    top:40%;
    z-index: 30;
    transform: perspective(400px) rotateX(45deg);
    opacity: 80%;
    
}

.button-right{
    background-color: grey;
    width: 20%;
    position: absolute;
    left: 60%;
    top:50%;
    z-index: 30;
    transform: perspective(400px) rotateY(45deg);
    opacity: 80%;
}

.videoCont{
    width: 100%;
    height: 100vh;
    overflow-x: scroll;
}
